body {
  margin: 0;
  font-family: "Secular One" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-active {
  background: linear-gradient(
    180.45deg,
    rgba(0, 71, 255, 0) 0.39%,
    rgba(0, 71, 255, 0.25) 99.61%
  );
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  border-bottom: 2px solid #2e57fa;
}
